* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#main-title {
  text-decoration: underline;
  font-size: 4em;
  margin: 0em 0em 0.2em;
  min-width: 15em;
}
